body {
    background: beige;
}

.options-container,
.score-container {
    max-width: 400px;
}

.board-cell {
    height: 17px;
    width: 17px;
    background: gainsboro;
    border-radius: 3px;
    border: solid 1px black;
}

.board {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 340px;
    margin: auto;
    background: black;
    border-radius: 5px;
}